@{
    ViewData["Title"] = "Početna";
}

<div class="hero-section">
    <div class="overlay">
        <div class="hero-content">
            <h1>Dobrodošli u <span class="brand">MediPlan!</span></h1>
        </div>
    </div>
</div>
