@{
    ViewData["Title"] = "Početna";
}

<div class="hero-section">
    <div class="overlay">
        <div class="hero-content">
            <h1>Dobrodošli u <span class="brand">MediPlan!</span></h1>
        </div>
    </div>

    <div class="position-fixed bottom-0 end-0 m-4">
        <a href="@Url.Action("Index", "Recenzije")" class="btn btn-info btn-lg shadow">
            📝 Recenzije klinike
        </a>
    </div>

</div>
