@model List<MEDIPLAN.Models.TerminPrikazViewModel>

@{
    Layout = "~/Views/Shared/_LayoutDoktor.cshtml";
}

    <h2>Moji termini</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Pacijent</th>
                <th>Datum</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var termin in Model)
        {
            <tr>
                <td>@termin.PacijentImePrezime</td>
                <td>@termin.Datum?.ToString("dd.MM.yyyy HH:mm")</td>

            </tr>
        }
        </tbody>
    </table>
